<div ng-controller="categoriesController">

	<div class="text-center">
		<h1>{{ choosing }}</h1>
	</div>

	<div  id='parent' ng-repeat="categ in categories  | excludeFilter">
		<div class="text-center col-xs-12 col-sm-6"    ng-model="categ.id" ng-class="status == 'odd' ? {'col-sm-12':$last} : {'col-sm-6':$last}" style="margin-top: 50px">
			<a ui-sref="questionState({catid:categ.id, questionid:0})"  class="btn btn-primary btn-large" >{{categ.name}} </a>
		</div>
	</div>

</div>
