
<div class="col-sm-12" style="padding-left: 20%" data-ng-repeat="choice in currentquestions[questionid].choices">
	<div class="radio col-sm-6">
		<label class="control-label switch" > 
			<input type="radio" name="answer" value="{{choice.id}}" ng-model="formData.answer">			
			<i></i>
			{{choice.text}}
		</label>
	</div>
</div>

