@media screen and (max-width:479px) {
  #logoCont {
	margin-left: -205px;
  }
} 
@media screen and (min-width:480px) and (max-width:800px) {
  #logoCont {
	margin-left: -60px;
  }
} 
@media screen and (min-width:801px) and (max-width:1024px) {
  #logoCont {
	margin-left: -40px;
  }
} 

