<div class=" col-sm-12">
  <form class="form-horizontal" name="form" method="post"  id="form" ng-controller="registrationController" ng-submit="submit()" style="">
      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label ">Your name</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="name" placeholder="Name" id="name" ng-model="registrationModel.name" required>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label  class="col-sm-4 control-label">Your email</label>
        <div class="col-sm-4">
          <input class="form-control" type="email" name="email" placeholder="Email" id="email" ng-model="registrationModel.email" required>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label  class="col-sm-4 control-label">Your age</label>
        <div class="col-sm-4">
          <input class="form-control" type="number" name="age" placeholder="Age" id="age" ng-model="registrationModel.age" required>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label  class="col-sm-4 control-label">Your phone number</label>
        <div class="col-sm-4">
          <input class="form-control" type="tel" placeholder="Phone number" name="phone" pattern="0[0-9]{9}"
           id="phone" ng-model="registrationModel.phone" required>
        </div>
      </div>
	
	  <div class="form-group col-sm-12">
       	<div class=" col-sm-offset-2 col-sm-10 g-recaptcha" data-sitekey="6LdxcA8UAAAAAD2MikzX4GdMO8fF5Xa4JWbbludY"></div>
      </div>

      <div class="form-group col-sm-12">
        <div class="col-sm-offset-4 col-sm-8">
          <input type="submit" id="submit" class="btn btn-large btn-success" ng-disabled="form.$invalid"></input>
        </div>
      </div>
    </form>
<div>
