<form class="form-horizontal" name="form" method="post"  id="form" ng-controller="questionsController" ng-submit="nextquestion()"> 
 	<div class="col-sm-12  text-center">
		<b><i>{{ currentquestions[questionid].question }}</i></b>
	</div>
	
	<my-radio-buttons-directive></my-radio-buttons-directive>



   
        <div class="col-sm-12 text-center" style="margin-top: 100px;">
        <button type="submit" class="btn btn-danger btn-lg">Next question!</button>
        </div>
        

   
</form>