<div ng-controller="questionsController">
	<div class="text-center col-sm-12">
		<h1>Your results </h1>
		<p>
			You've got {{ tempResults }}% of correct answers		 	
		</p>
		<p>
			<my-rate-stars-directive> </my-rate-stars-directive>
		</p>
		<p>
			{{ previous }}
		</p>
		


		<a href="/categories" ng-click="transfer()">Choose other category</a>
	</div>
	
</div>
