<div class="container text-center" ng-controller="loginController">
	<form class="form-horizontal" name="form" method="post"  id="form" ng-submit="login()" style="">
	 <h1>{{ message }}</h1>
      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label">Your name</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="name" placeholder="Name" ng-model="loginModel.name" required >
        </div>
      </div>

      <div class="form-group col-sm-12">
        <label class="col-sm-4 control-label">Your Email</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="email" placeholder="Email" ng-model="loginModel.email" required>
        </div>
      </div>

      <div class="form-group col-sm-12">
        <div class="col-sm-12">
          <input type="submit" class="btn btn-large btn-success"></input>
        </div>
      </div>
    </form>
</div>