<div ng-controller="homeController">
	<div class="text-center col-sm-12">
		<h1>Hello, here you can pass some test to dedicate your level of knowledge</h1>
		
		<p>{{message}}</p>
		<my-logo-directive></my-logo-directive>
	</div>
</div>